<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Uppgift 5.1.1</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1> Mejl skickat! </h1>
        <br> Från = {{from}}
        <br> Till = {{to}}
        <br> Cc = {{cc}}
        <br> Bcc = {{bcc}}
        <br> Ärende = {{subject}}
        <br> Datum = {{date}}
        <br>
        <br> Meddelande =  {{message}}
        <br>
        <br>           Observera! Detta meddelande är sänt från ett formulär på Internet och avsändaren kan vara felaktig!
    </body>
</html>